<template>
    <div>
        <nav-header
            :categories="categories"
            @postByCategory="getPostsByCategory"
            @getAllPosts="getPostsByCategory"
        ></nav-header>
        <top-posts
                :posts="posts"
        ></top-posts>
        <post
                :posts="posts"
                :activeTag="tag"
                :activeCategory="category"
                :activeAuthor="author"
                :pagination="pagination"
                @postByCategory="getPostsByCategory"
                @clearTag="clearTag"
                @clearCategory="clearCategory"
                @loadMore="nextPage"
                @byTag="getPostByTag"
                @byAuthor="getPostByAuthor"
                @clearAuthor="clearAuthor"
        ></post>
    </div>
</template>

<script>
    import Post from "./Post";
    import NavHeader from "./NavHeader";
    import TopPosts from "./TopPosts";

    export default {
        name: "Home",
        components: {
            NavHeader,
            Post,
            TopPosts
        },
        data() {
            return {
                posts: [],
                oldPosts: [],
                category: {},
                author: {},
                categories: [],
                pagination: {
                    currentPage: '',
                    lastPage: ''
                },
                sort: '',
                tag: {},
                query: {},
            }
        },
        created() {
            this.setQuery();
            this.getPosts(this.category.slug, 1, this.sort, this.tag.slug, this.author.slug);
            this.getCategories();
        },
        methods: {
            addParamsToLocation(params) {
                history.pushState(
                    {},
                    null,
                    this.$route.path +
                    '?' +
                    Object.keys(params)
                        .map(key => {
                            return (
                                encodeURIComponent(key) + '=' + encodeURIComponent(params[key])
                            )
                        })
                        .join('&')
                );
            },
            getPosts(category, page, sort, tag, author) {
                let vm = this;
                axios.post('/posts/get', {'category': category, 'page': page, 'sort': sort, 'tag': tag, 'author': author})
                    .then(response => {
                        this.posts = response.data.posts.data;
                        console.log(this.posts);
                        vm.setPagination(1, response.data.posts.last_page);
                    })
                ;
            },
            getCategories() {
                axios.post('/categories/get')
                    .then(response => {
                        this.categories = response.data.categories;
                    })
                ;
            },
            getPostsByCategory(category){
                if (!category.slug) {
                    this.getPosts(null, 1, this.sort, this.tag.slug, this.author.slug);
                } else {
                    this.query.category = category.slug;
                    this.category = category;

                    this.addParamsToLocation(this.query);
                    this.getPosts(category.slug, 1, this.sort, this.tag.slug, this.author.slug);
                }
            },
            getPostByTag(tag){
                this.tag = tag;
                this.query.tag = tag.slug;

                this.addParamsToLocation(this.query);
                this.getPosts(this.category.slug, 1, this.sort, tag.slug, this.author.slug);
            },
            getPostByAuthor(author){
                this.author = author;
                this.query.author = author.slug;

                this.addParamsToLocation(this.query);
                this.getPosts(this.category.slug, 1, this.sort, this.tag.slug, author.slug);
            },
            setPagination(current, last){
                let pagination = {
                    currentPage: current,
                    lastPage: last
                };

                this.pagination = pagination;
            },
            setSort(sort) {
                this.sort = sort;
                this.query.sort = sort;

                this.addParamsToLocation(this.query);
                this.getPostsByCategory(this.category);
            },
            setQuery() {
              this.category.slug = this.$route.query.category;
              this.tag.slug = this.$route.query.tag;
              this.sort = this.$route.query.sort;
              this.author.slug = this.$route.query.author;
            },
            clearTag() {
                this.tag = '';
                this.query.tag = '';

                let newQuery = Object.assign({}, this.$route.query);
                delete newQuery.tag;
                this.$router.replace({ newQuery });

                this.getPostsByCategory(this.category);
            },
            clearAuthor() {
                this.author = '';
                this.query.author = '';

                let newQuery = Object.assign({}, this.$route.query);
                delete newQuery.author;
                this.$router.replace({ newQuery });

                this.getPostsByCategory(this.category);
            },
            clearCategory() {
                this.category = '';
                this.query.category = '';

                let newQuery = Object.assign({}, this.$route.query);
                delete newQuery.category;
                this.$router.replace({ newQuery });

                this.getPostsByCategory(this.category);
            },
            nextPage(pagination, posts){
                this.oldPosts = posts;
                this.loadPosts(this.category.slug, pagination.currentPage + 1, this.sort, this.tag.slug, this.author.slug);
            },
            loadPosts(category, page, sort, tag, author) {
                let vm = this;
                axios.post('/posts/get', {'category': category, 'page': page, 'sort': sort, 'tag': tag, 'author': author})
                    .then(response => {
                        this.posts = (this.oldPosts).concat(response.data.posts.data);
                        vm.setPagination(response.data.posts.current_page, response.data.posts.last_page);
                    })
                ;
            },
        }
    }
</script>

<style scoped>

</style>