<template>
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <div class="text-center" v-if="!activeCategory.name">
                            <span v-bind:class="[{invisible: !activeCategory.slug}]">
                                Category: {{ activeCategory.slug }}
                                <a @click="$emit('clearCategory')" class="btn btn-sm text-danger" href="#">Clear</a>
                            </span>
                            </div>
                            <div class="text-center" v-else>
                            <span v-bind:class="[{invisible: !activeCategory.name}]">
                                Category: {{ activeCategory.name }}
                                <a @click="$emit('clearCategory')" class="btn btn-sm text-danger" href="#">Clear</a>
                            </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-center" v-if="!activeTag.name">
                            <span v-bind:class="[{invisible: !activeTag.slug }]">
                                Tag: {{ activeTag.slug }}
                                <a @click="$emit('clearTag')" class="btn btn-sm text-danger" href="#">Clear</a>
                            </span>
                            </div>
                            <div class="text-center" v-else>
                            <span v-bind:class="[{invisible: !activeTag.name }]">
                                Tag: {{ activeTag.name }}
                                <a @click="$emit('clearTag')" class="btn btn-sm text-danger" href="#">Clear</a>
                            </span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-center" v-if="!activeAuthor.name">
                            <span v-bind:class="[{invisible: !activeAuthor.slug }]">
                                Author: {{ activeAuthor.slug }}
                                <a @click="$emit('clearAuthor')" class="btn btn-sm text-danger" href="#">Clear</a>
                            </span>
                            </div>
                            <div class="text-center" v-else>
                            <span v-bind:class="[{invisible: !activeAuthor.name }]">
                                Author: {{ activeAuthor.name }}
                                <a @click="$emit('clearAuthor')" class="btn btn-sm text-danger" href="#">Clear</a>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4" v-for="post in posts">
                    <div class="entry2">
                        <a v-bind:href="'/posts/' + post.slug"><img v-bind:src="post.image_preview.url" alt="Image" class="img-fluid rounded"></a>
                        <div class="excerpt">
                            <span v-for="tag in post.tags" v-if="tag.is_show === 1" class="post-category text-white bg-secondary mb-3"
                                  @click="$emit('byTag', tag)"
                            ><a href="#" class="text-white">{{ tag.name }}</a></span>

                            <h2><a v-bind:href="'/posts/' + post.slug">{{ post.title }}</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left" v-if="post.author.is_show === 1">
                                    <img v-bind:src="post.author.avatar" alt="Image" class="img-fluid">
                                </figure>
                                <span class="d-inline-block mt-1" v-if="post.author.is_show === 1">By <a href="#" @click="$emit('byAuthor', post.author)">{{ post.author.name }}</a></span>
                                <span>&nbsp;-&nbsp; {{ post.date }}</span>
                                <span class="d-inline-block mt-1">
                                    Category
                                    <span v-for="category in post.category" v-if="category.is_show === 1">
                                    <a href="#" @click="$emit('postByCategory', category)">
                                        {{ category.name }}
                                    </a>
                                </span>
                                </span>
                            </div>

                            <p>{{ post.description }}</p>
                            <p><a v-bind:href="'/posts/' + post.slug">Read More</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center pt-5 border-top">
                <div class="col-md-12">
                    <a class="btn text-primary" v-bind:class="[{invisible: pagination.currentPage >= pagination.lastPage}]"
                       @click="$emit('loadMore', pagination, posts)"
                    >Show More</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Post",
        props: ['posts', 'pagination', 'activeTag', 'activeCategory', 'activeAuthor'],
    }
</script>

<style scoped>

</style>