<template>
    <div class="site-cover site-cover-sm same-height overlay single-page" v-bind:style="{'background-image': 'url(' + post.image_preview.url + ')'}">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <span v-for="tag in post.tags" class="post-category text-white bg-success mb-3">{{ tag.name }}</span>
                        <h1 class="mb-4"><a href="#">{{ post.title }}</a></h1>
                        <div class="post-meta align-items-center text-center">
                            <figure class="author-figure mb-0 mr-3 d-inline-block" v-if="post.author.is_show === 1"><img v-bind:src="post.author.avatar" alt="Image" class="img-fluid"></figure>
                            <span class="d-inline-block mt-1" v-if="post.author.is_show === 1">By {{ post.author.name }}</span>
                            <span>&nbsp;-&nbsp; {{ post.date }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PostHeader",
        props: ['post'],
    }
</script>

<style scoped>

</style>