<template>
    <section class="site-section py-lg">
        <div class="container">

            <div class="row blog-entries element-animate">

                <div class="col-md-12 col-lg-8 main-content">

                    <div class="post-content-body">
                        <p>{{ post.description }}</p>
                    </div>

                    <div class="pt-5">
                        <p>
                            <span>
                                Category:
                                <a v-for="category in post.category" v-bind:href="'/?category=' + category.slug">
                                    {{ category.name}}
                                </a>
                            </span>
                            <span>
                                Tags:
                                <a v-if="tag.is_show === 1" v-bind:href="'/?tag=' + tag.slug " v-for="tag in post.tags">
                                    #{{ tag.name }}
                                </a>
                            </span>
                        </p>
                    </div>
                </div>

                <div class="col-md-12 col-lg-4 sidebar">
                    <div class="sidebar-box search-form-wrap">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon fa fa-search"></span>
                                <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                            </div>
                        </form>
                    </div>
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <div class="bio text-center" v-if="post.author.is_show === 1">
                            <img v-bind:src="post.author.avatar" alt="Image Placeholder" class="img-fluid mb-5">
                            <div class="bio-body">
                                <h2>{{ post.author.name }}</h2>
                                <p class="mb-4">{{ post.author.about }}</p>
                                <p><a v-bind:href="'/?author=' + post.author.slug " class="btn btn-primary btn-sm rounded px-4 py-2">Watch my posts</a></p>
                                <p class="social">
                                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <h3 class="heading">Relevant Posts</h3>
                        <div class="post-entry-sidebar">
                            <ul>
                                <li v-for="relevant in relevants">
                                    <a v-bind:href="'/posts/' + relevant.slug">
                                        <img v-bind:src="relevant.image_preview.url" alt="Image placeholder" class="mr-4">
                                        <div class="text">
                                            <h4>{{ relevant.title }}</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">{{ relevant.date }} </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-box">
                        <h3 class="heading">Categories</h3>
                        <ul class="categories">
                            <li v-for="category in categories" v-if="category.is_show === 1">
                                <a v-bind:href="'/?category=' + category.slug">
                                    {{ category.name }}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-box">
                        <h3 class="heading">Tags</h3>
                        <ul class="tags">
                            <li v-for="tag in tags" v-if="tag.is_show === 1">
                                <a v-bind:href="'/?tag=' + tag.slug">
                                    {{ tag.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "PostBody",
        props: ['post', 'relevants'],
        data(){
            return {
                categories: {},
                tags: {},
            }
        },
        created() {
            this.getCategories();
            this.getTags();
        },
        methods: {
            getCategories() {
                axios.post('/categories/get')
                    .then(response => {
                        this.categories = response.data.categories;
                    })
                ;
            },
            getTags() {
                axios.post('/tags/get')
                    .then(response => {
                        this.tags = response.data.tags;
                    })
                ;
            },
        }
    }
</script>

<style scoped>

</style>