<template>
    <div class="site-section bg-light">
        <div class="container">
            <div class="row align-items-stretch retro-layout-2">
                <div class="col-md-4" v-if="post.is_top === 1" v-for="post in posts">
                    <a v-bind:href="'/posts/' + post.slug" class="h-entry mb-30 v-height gradient" v-bind:style="{'background-image': 'url(' + post.image_preview.url + ')'}">
                        <div class="text">
                            <h2>{{ post.title }}</h2>
                            <span class="date">{{ post.date }}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TopPosts",
        props: ['posts']
    }
</script>

<style scoped>

</style>